AUTH_SESSION_MAX_AGE=
AUTH_SECRET=
AUTH_TRUST_HOST=true
DATABASE_URL=

SEED_USER_NAME=
SEED_USER_EMAIL=
SEED_USER_PASSWORD=

ALGOLIA_APP_ID=
ALGOLIA_ADMIN_API_KEY=
# Search-only key
ALGOLIA_SEARCH_API_KEY=
ALGOLIA_INDEX_NAME=
